ul.nav-tabs {
    margin-top: 20px;
    border-radius: 4px;
    border: 0 !important;
}

ul.nav-tabs li {
    margin: 0 0 3px 0;
}

ul.nav-tabs li:first-child {
    border-top: none;
}

ul.nav-tabs li a {
    margin: 0;
    padding-top: 18px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 18px;
    border-radius: 0;
    background: darkorange;
    color: grey;
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
    color: #fff;
    background: orange;
    border: 0 !important;
}

.arrow_box {
    position: relative;
    background: #f57e07;
    border: 5px solid #f57e07;
}

.arrow_box:after, .arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(245, 126, 7, 0);
    border-left-color: #f57e07;
    border-width: 30px;
    margin-top: -30px;
}

.arrow_box:before {
    border-color: rgba(245, 126, 7, 0);
    border-left-color: #f57e07;
    border-width: 37px;
    margin-top: -37px;
}

ul.nav-tabs.affix {
    top: 40px; /* Set the top position of pinned element */
}

.darkrow {
    background: #222222;
}

.lightrow {
    background: #ffffff;
}

.greenrow {
    height: 80px;
  background : -moz-linear-gradient(50% 0.22% -90deg,rgba(0, 93, 55, 1) 0%,rgba(0, 71, 32, 1) 35.79%,rgba(0, 57, 18, 1) 70.67%,rgba(0, 52, 13, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(0, 93, 55, 1) 0%, rgba(0, 71, 32, 1) 35.79%, rgba(0, 57, 18, 1) 70.67%, rgba(0, 52, 13, 1) 100%);
  background : -webkit-gradient(linear,50% 0.22% ,50% 99.76% ,color-stop(0,rgba(0, 93, 55, 1) ),color-stop(0.3579,rgba(0, 71, 32, 1) ),color-stop(0.7067,rgba(0, 57, 18, 1) ),color-stop(1,rgba(0, 52, 13, 1) ));
  background : -o-linear-gradient(-90deg, rgba(0, 93, 55, 1) 0%, rgba(0, 71, 32, 1) 35.79%, rgba(0, 57, 18, 1) 70.67%, rgba(0, 52, 13, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(0, 93, 55, 1) 0%, rgba(0, 71, 32, 1) 35.79%, rgba(0, 57, 18, 1) 70.67%, rgba(0, 52, 13, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#005D37', endColorstr='#00340D' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(0, 93, 55, 1) 0%, rgba(0, 71, 32, 1) 35.79%, rgba(0, 57, 18, 1) 70.67%, rgba(0, 52, 13, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#005D37',endColorstr='#00340D' , GradientType=0);
}


.centered {
    text-align: center;
}

.nopadding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.darkrow span, .darkrow p {
    color:#ffffff;

}

.darkrow, .lightrow, img {
    margin-bottom: 20px;
}


body {
    overflow-x: hidden;
}

p {
    text-align: justify;
    text-justify: inter-word;
}